<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="description" content="Dovi Motors Metrics Application">


    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="https://s3.amazonaws.com/drydenmusic/CSS/side-menu.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/side-menu-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/layouts/side-menu.css">
    <!--<![endif]-->
        <title>{% block title %}Dovi Motors Reporting{% endblock %}</title>
    </head>
    <body>
    <div id="layout">
        <div id="menu">
                {% if user.is_authenticated %}
            <div class="pure-menu">
                <h3><a class="pure-menu-heading" href="../../admin/DrydenMusicApp/music/add/">UPLOAD</a></h3>
               <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="/music/" class="pure-menu-link">Home</a></li>
                    <li class="pure-menu-item"><a href="/music/sheet_list/" class="pure-menu-link">Song Sheets</a></li>
                    <li class="pure-menu-item"><a href="/music/book_list/" class="pure-menu-link">Song Books</a></li>
                    
                {% endif %}
               </ul>
            </div>
        </div>
        <div id="main">
            <div class=header">
                <div class="pure-g">
                    <div class="pure-u-2-3"> <h1>{% block header %}Dryden House Church Music Repo{% endblock %}</h1></div>
                    <div class="pure-u-1-3">
                        {% if user.is_authenticated %}
                            <a href="../../logout/" class="pure-menu-link">Logout</a>
                        {% else %}
                            <a href="../../login/" class="pure-menu-link">Login</a>
                        {% endif %}
                    </div>
                </div>
                <div class="content">{% block content %}{% endblock %}</div>
                <div class="footer">Copyright 2016 Jesse Dovi.  All rights reserved.</div>
            </div>
        </div>
    </div>
    </body>
</html>
