{% extends "DrydenMusicApp/base.html" %}
{% block header %}Email Songs{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="pure-button pure-button-primary">{{message }}</div>
        {% endfor %}
    {% endif %}
Check the songs you want to send and the people you want to receive them.  Then hit send.<br>
Did you want to send a teaching instead?<a href="/music/email/?file_type=3">Click here</a>
{% if form %}
<form method="post">
{% csrf_token %}
<input type="submit" value="Send" class="pure-button pure-button-primary"/>
<br>
    <div>
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th onmouseover="" style="cursor: pointer;">{{ form.song_list.label_tag }}</th>
                <th onmouseover="" style="cursor: pointer;">{{ form.email_list.label_tag }}</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ form.song_list }}</td>
            <td style="vertical-align:top;">{{ form.email_list }}</td>
        </tr>
    </table>
    </div>
</form>
{% else %}
    sent list of songs<br>
    {{ song_list }}<br>
    {{ email_list }}
{% endif %}
{% endblock %}
