{% extends "DrydenMusicApp/base.html" %}

{% block content %}
        <h2>Song Sheets</h2>
        {% if sheet_list %}
            <table class="pure-table pure-table-horizontal sortable">
                <thead>
                    <tr>
                        <th onmouseover="" style="cursor: pointer;">Song Title</th>
                        <th onmouseover="" style="cursor: pointer;">First Line</th>
                    </tr>
                </thead>
                <tbody>
            {% for music in sheet_list %}
                    <tr>
                        <td><a href="{{ music.music_file.url }}">{{ music.title }}</a></td>
                        <td>{{ music.first_line }}</td>
                    </tr>
            {% endfor %}
            </tbody>
            </table>
        {% else %}
            <p>No songs are available.</p>
        {% endif %}
{% endblock %}
